<!doctype html>
<html lang="en">
    <head>
        <link href='http://fonts.googleapis.com/css?family=Cabin:500' rel='stylesheet' type='text/css'>
        <meta charset="utf-8">
        <!-- Title block allowing child pages to override -->
        <title>London Underground Diary</title>

        <meta name="author" content="Charlotte Spencer">
        <meta name="description" content="An online diary for London Underground duties and notes">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/ico" href="{{ "/favicon.ico" | root_asset }}" />

        <!-- Styles -->
        {{ "css/normalize.min.css" | asset_url | stylesheet_tag }}
        {{ "css/style.min.css" | asset_url | stylesheet_tag }}
        <!-- Style Block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}

    <body>
        <!-- Site Wide Header -->
        {% include "header" %}

        <!-- Main Content Wrapper -->
        <div class="wrapper">

            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
        </div>

        {% include "footer" %}


        {{ "main.js" | asset_url | script_tag }}

        <!-- TODO: Remove jQuery Implentation snippet from production code -->
        <!-- jQuery Implementation -->
        <!-- {{ "jquery-1.11.1.min.js" | asset_url | script_tag }}
        {{ "jqueryimplementation.min.js" | asset_url | script_tag }} -->
    </body>
</html>
